apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-xdfcwwsd
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-xdfcwwsd:fab2ece0edd51faa6c9e4103f9214933273d4a44@sha256:812cb9449ef30f97e06d1917f5954e8eb3431f0f2f711a41e46ac95824dfbabb
          name: container-image
